body {
  margin: 0;
  padding: 0;
}

.App-header {
  min-height : 10px;
}


.nav{
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
.nav li{
  display:inline;
}
.nav a{
  display:inline-block;
  padding:10px;
}

.menu {
  overflow: hidden;
  text-align: center;

}

.menu a {
  float: center;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px; 
  width: 230px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  
  background-color: #001f3f;
  margin: 5px;
}
.menu a: hover {

 background-color: #ddd;
 color: black;

}

